/*
 * ***** BEGIN LICENSE BLOCK *****
 * Zimbra Collaboration Suite Web Client
 * Copyright (C) 2013, 2014, 2015, 2016 Synacor, Inc.
 *
 * The contents of this file are subject to the Common Public Attribution License Version 1.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at: https://www.zimbra.com/license
 * The License is based on the Mozilla Public License Version 1.1 but Sections 14 and 15
 * have been added to cover use of software over a computer network and provide for limited attribution
 * for the Original Developer. In addition, Exhibit A has been modified to be consistent with Exhibit B.
 *
 * Software distributed under the License is distributed on an "AS IS" basis,
 * WITHOUT WARRANTY OF ANY KIND, either express or implied.
 * See the License for the specific language governing rights and limitations under the License.
 * The Original Code is Zimbra Open Source Web Client.
 * The Initial Developer of the Original Code is Zimbra, Inc.  All rights to the Original Code were
 * transferred by Zimbra, Inc. to Synacor, Inc. on September 14, 2015.
 *
 * All portions of the code are Copyright (C) 2013, 2014, 2015, 2016 Synacor, Inc. All Rights Reserved.
 * ***** END LICENSE BLOCK *****
 */

/* Login page styling */

.form .ZLoginButton {
	background-color:@AltC@;
	border-color:white;
	color:white;
}

.form .ZLoginButton:hover {
	background-color:@lighten(AltC,25)@;
	color:@TxtC@;
}

.form .ZLoginButton:active {
	background-color:@darken(AltC,25)@;
}

#skin_spacing_tree {
	padding-bottom: 0px;
}

/* App tab styling */

#skin_spacing_app_row {
	height:2.4rem;
}

.ZAppTabBorder .ZWidgetTitle {
	font-size:1.3rem;
}

/* Major panel styling */

.ZmOverview .overviewHeader-Text.FakeAnchor > DIV {
	margin-right:2px;
}

#skin_spacing_tree,
#skin_spacing_tree_footer {
	border-width:0px;
	margin-left:3px;
}

.ZmConvView,
.ZmConvView2,
.ZmMailMsgView {
	background-color:@AppC@;
}

.ZmConvView2FullWidth {
	width: 100%;
}

.ZmMailMsgView>DIV {
	background-color:white;
}

#skin_container_tree,
.Conv2View,
.Conv2View-bottom {
	background-color:transparent;
	background-image:none;
}

.NoResults {
	background-color:transparent;
	padding:1.5em 1em;
	@roundCorners(3px)@
}

/* Left nav tree styling */

.overviewHeader {
	background-color:transparent;
	padding-top:0px;
	padding-bottom:0px;
}

.overviewHeader>TABLE {
	border-color:transparent;
}

.overviewHeader-selected > TABLE {
	border-color: @SelC@;
}

.overviewHeader-selected-focused > TABLE {
	@FocusBorder@
}

.overviewHeader TD {
	background-color:transparent;
	font-size:1.3rem;
	font-weight:normal;
}

/* New button styling */

.ZNewButton {
	border-radius:3px;
	margin-right:0px;
	overflow:hidden !important;
	right:-5px;
}

.ZNewButton .ZToolbarButtonBorder {
	background-color:rgb(0,135,195);
	border-color:rgb(0,135,195);
}

.ZNewButton.ZFocused .ZToolbarButtonBorder,
.ZNewButton.ZHover .ZToolbarButtonBorder,
.ZNewButton.ZActive .ZToolbarButtonBorder {
	background-color:#00AAF6;
	border-color:#00AAF6;
}

.ZNewButton.ZActive .ZToolbarButtonBorder {
	background-color:@_PrimaryBrandingColor_@;
	border-color:@_PrimaryBrandingColor_@;
	background-image:none;
}

.ZNewButton .ZToolbarButtonTable .ZLeftIcon {
	display:none;
}

.ZNewButton .ZToolbarButtonTable .ZWidgetTitle,
.ZNewButton.ZHover .ZToolbarButtonTable .ZWidgetTitle {
	color:white;
}

.ZNewButton .ImgSelectPullDownArrow,
.ZNewButton.ZHover .ImgSelectPullDownArrowHover,
.ZNewButton.ZActive .ImgSelectPullDownArrow {
	background-image:url(@AppContextPath@/skins/@SkinName@/img/quangnam/ImgNewSelectPullDownArrow.png?v=@jsVersion@);
	background-position:0px 0px;
}

/* Msg view styling */

.ZmMailMsgCapsuleView {
	border-width:0px 0px 1px;
	@roundCorners(0)@
}

.ZmMailMsgCapsuleView .separator {
	border-color:transparent;
}

/* Conv view styling */

.Conv2Messages {
	padding:0.25em 0.5em;
}

.Conv2Messages .Last {
	border-color:transparent;
	@roundCorners(3px)@
}

.Conv2Header,
.Conv2Header .info{
	background-color:@darken(AppC,5)@;
	border-bottom-width:0px;
}

.Conv2Header {
	height:2.2em;
}

.Conv2Header .subject,
.Conv2Header .info {
	color:@TxtC@;
}

.Conv2MsgHeader .image {
	@roundCorners(24px)@
}

.Collapsed .Conv2MsgHeader .image {
	@roundCorners(16px)@
}

/* Table header styling */

.DwtListView-Sash:first-child DIV {
	background-color:@darken(AppC,10)@ !important;
}

TD.DwtListView-Column  {
	background-color:@darken(AppC,5)@;
	border-bottom-width:0px;
	font-weight:normal;
}

TD.DwtListView-ColumnActive  {
	background-color:@darken(AppC,3)@;
	font-weight:bold;
}

.DwtListView-Rows-Empty > * {
	@TransparentBorder@
}

.DwtListView-Rows-Empty:focus {
	outline: none;
}

.DwtListView-Rows-Empty:focus > * {
	@FocusBorder@
}

.console_inset_app_l {
	z-index:499 !important;  /* 1 less than veil */
}

/* Row styling */

.Row {
	height:20px;
	height:2rem;
	padding-top:4px;
}

.ZmContactSplitView,
.ZmContactSimpleView,
.ZmContactInfoView,
.SimpleContact {
	background-color:transparent;
	border-color:transparent;
}

.ZmContactInfoView .headerRow {
	background-color:transparent;
	border-color:transparent;
	margin: .25em 0px;
	@roundCorners(3px)@
}

/* Double-row styling*/

.RowDouble {
	padding:.25em .5em;
}

.RowDouble .TopRow {
	position:relative; /* global? */
}


.ZmComposeView INPUT,
.ZmComposeView TEXTAREA {
	border:none;
	outline:none;
}

/* Contact styling */
.ZmContactSplitView,
.ZmContactSimpleView,
.ZmContactInfoView .headerRow,
.ZmContactView .headerRow {
	background-color:transparent;
	border-color:transparent;
}

.ZmContactInfoView {
	background-color:white;
	border-width:0px;
	padding:1em 1em 0;
}

.ZmContactInfoView .headerRow {
	margin-bottom:.5em;
	padding-top:.25em;
}

.ZmContactInfoView .contactGroupTable {
	border-collapse:separate;
	border-color:@darken(AppC,10)@;
	@roundCorners(3px)@
}

.ZmContactView {
	background-color:transparent;
}

.ZmEditGroupContact {
	background-color:white;
	border:1px solid @darken(AppC,25)@;
}

.SimpleContact {
	background-color:transparent;
	background-image:none;
	height:22px;
	height:2.2rem;
}
.SimpleContact>DIV {
	background-color:transparent;
	border-color:transparent;
}

.SimpleContact .ZmListFlagsWrapper {
	height:16px;
	margin-top:2px;
}

.ZmEditGroupContact .Row {
	margin-bottom:.5em;
}

.groupMembers .ZmEditGroupContact .Row {
	background-color:white;
	border-color:@AppC@;
	margin:.5em;
}

.ZmContactView .contactHeaderSubTable,
.ZmContactInfoView .contactHeaderSubTable {
	background-color:@darken(#FFFFFF,10)@;
	border-color:transparent;
}

/* Calendar appt styling */

.ZmCalViewMgr,
.calendar_view {
	background-color:transparent;
}

.appt_body,
.appt_30_body,
.appt_allday_body {
	background-color:white;
	border-color:transparent;
	box-shadow:0px 0px 0px transparent;
}
.appt_body>TABLE,
.appt_30_body>TABLE,
.appt_allday_body>TABLE {
	background-color:transparent;
	background-image:none;
	border-color:transparent;
}

.ZmApptComposeField .FakeAnchor {       /* global? */
	float:right;
	max-width:22em;
}

.ZmScheduleAssistantView {
	background-color:white;
}

.InvResponseBar {
	background-color:@darken(AppC,10)@;
	border-top-color:@darken(AppC,20)@;
}

.InvResponseBar .ZButtonBorder{
	background-color:@AppC@;
}

/* Task styling */

.ZmTaskMultiView .DwtListView-Column {
	background-color:transparent;
	border-color:transparent;
}

.ZmTaskMultiView .ZmMailMsgView {
	background-color:white;
}

.newTaskBannerSep {
	background-color:transparent;
	border-bottom-width:0px;
	margin-bottom:1em;
}

.newTaskBannerSep>TBODY>TR>TD {
	background-color:@darken(AppC,10)@;
	padding:0.5em;
}

.ZmTaskEditView .miniCalendarButton .ZButtonBorder,
.ZmTaskEditView .miniTimeButton .ZButtonBorder,
.ZmTaskEditView .ZmCompletionSelector .ZButtonBorder {
	margin-top:0px;
}

#skin_dropMenu *:focus,
#skin_userAndQuota *:focus {
	outline-color: @AppC@;
}

/* Briefcase styling */

.ZmBriefcaseDetailListView {
	background-color:transparent;
}

.ZmPreviewView .MsgHeaderTable>TBODY>TR>TD {
	background-color:transparent !important;
}

.ZmPreviewView .PreviewViewHeader {
	margin:0em 1em;
}

.ZmBriefcaseDetailListView .Row TABLE {
	border-collapse:separate;
	margin:.25em 0em;
}

/* Doc editor styling */

.ZmDocsEditView {
	background-color:@AppC@;
}

.ZmDocsEditViewHeaderCell>DIV {
	margin:5px 3px 0px;
}

/* Preferences styling */

.ZmPrefView {
	background-color:@AppC@;
}

.ZOptionsSectionMain {
	background-color:white;
	@roundCorners(0 0 3px 3px)@
}

.prefHeader {
	@roundCorners(3px)@
}

.ZmPrefZimletListView .Row {
	height:auto;
}

.ZmWhiteBlackList {
	border:1px solid @darken(AppC,25)@;
	margin-left:0px;
	@roundCorners(0)@
}

.ZmFilterRulesView .ZOptionsSectionMain {
	background-color:@AppC@;
	@roundCorners(0)@
}

.ZmFilterRulesView .DwtChooserListView {
	background-color:white;
	min-height:160px;
}

/* Dialog styling */

/*
.WindowOuterContainer {
	background-color:@AppC@;
}
*/

.WindowInnerContainer {
	background-color:@AppC@;
	border-top:none;
}

.ZmReminderDialog .DwtToolbarButton {
	border:none;
}

/* Plain Text Compose */

.ZmHtmlEditor .ZmHtmlEditorTextArea {
	border:1px solid @darken(AppC,25)@;
	padding:0.25em;
}

/* Mini-cal */

.DwtCalendar {
	border-top:1px solid @darken(AppC,25)@;
}

.DwtMenu .DwtCalendar {
	border-top-width:0px;
}

/* Chooser styling */

.ZmContactPicker .DwtChooserListView {
	background-color:white;
	border-color:@darken(AppC,25)@;
}

.BriefcaseTabBox {
	border-color:@darken(AppC,25)@;
	border-style:solid; @roundCorners(0px)@
}

/* Labels */

.ZmContactSplitView .rowLabel,
.ZmMailMsgView .LabelColName,
.ZmMailMsgCapsuleView .LabelColName {
	color:@lighten(TxtC,40)@;
	font-weight:normal;
}

.ImgLoginBanner {
	height: 60px;
	background: url(@LogoImgDir@/LoginBanner_small.png?v=@jsVersion@) bottom left no-repeat;
}

.LoginScreen,
.SplashScreen {
	background: url(@SkinImgDir@/quangnam-login-bg.png?v=@jsVersion@) top center no-repeat;
	background-size: cover;
}

.LoginScreen .center,
.SplashScreen .center,
.ErrorScreen .center {
	background-color: white;
	padding: 10px;
	left: 53%;
}

.LoginScreen .ImgLoginBanner.BannerQN, 
.LoginScreen .ImgAppBanner.BannerQN, 
.SplashScreen .ImgLoginBanner.BannerQN {
	background:url(@LogoImgDir@/LoginBanner_QN.png?v=@jsVersion@) top center no-repeat;
	width: 350px;
	height: 65px;
	margin: 12px 0 0 30px;
}

.SplashScreen .SplashHeader,
.LoginScreen .LoginFormHeader {
	background:url(@SkinImgDir@/quangnam-login-form-header-bg.png?v=@jsVersion@) top center no-repeat;
	width: 409px;
	height: 89px;
	margin: 0;
	border-radius: 3px 3px 0 0;
}

.LoginScreen .contentBox,
.SplashScreen .contentBox,
.ErrorScreen .contentBox {
	width: 409px;
	padding: 0;
	background-color: #3091d2;
}

.LoginScreen form {
	padding: 20px 0;
}

.LoginScreen table.form input[type="text"].zLoginField,
.LoginScreen table.form input[type="password"].zLoginField {
	border: 1px solid #a6cfeb;
	padding: .375rem .75rem;
	height: 2.25rem;
	line-height: 1.5;
}
.LoginScreen table.form input::placeholder {
	color: #fff !important;
}

.LoginScreen .zLoginField {
	font-size: 12px;
	border-radius: 0;
	background: rgba(255, 255, 255, 0.5);
	color: #fff;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.LoginScreen table.form td {
	padding: 0;
	margin: 0;
}
.LoginScreen table.form td.zLoginLabel {
	border-radius: 0;
	background: #80b6db;
	border:none;
	text-align: center;
	font-size: 1.2rem;
}
.LoginScreen table.form {
	border-collapse: separate;
	border-spacing: 0 7px;
}
.LoginScreen table.form td:first-child label {
	margin: 0;
	text-align: center;
}
.LoginScreen table.form td label {
	margin: 0;
}
.LoginScreen table.form .submitTD input[type="checkbox"] {
	margin: 0;
}

.LoginScreen table.form .ZLoginButton {
	color: white;
	font-size: 11px;
	border: 1px solid #ffd200;
	background: -webkit-linear-gradient(top,#ffa902 60%, #e89e00 97%);
	text-transform: uppercase;
	padding: 5px 15px;
}

.LoginScreen table.form .ZLoginButton:hover {
	background: -webkit-linear-gradient(top,#ffa902 60%, #e89e00 97%);
	color: @TxtC@;
}

.LoginScreen table.form .ZLoginButton:active {
	background: -webkit-linear-gradient(top,#ffa902 60%, #e89e00 97%);
}

.ImgAppBanner {
	background-image: url("@LogoImgDir@/AppBanner_QN.png?v=@jsVersion@"), url("@LogoImgDir@/AppBanner_opacity.png?v=@jsVersion@");
	background-position: left 5px top 5px, right 0px top 3px;
	width: 450px;
	height: 38px;
	background-repeat: no-repeat;	
}
